body {
	background-color: green;
}

.text {
	color: white;
	margin-left: 20px;
	margin-
	height: 20px;
	margin-bottom: 

}

.wraper


/*.header {
	height: 200px;
	width: 100;
	background-color: green;
}*/


.center {
	background-color: yellow;
}
